##################
# General Settings
##################

# Used to create a prefix for the docker containers
CONTAINER_NAME_BASE=taiga-prod

# Debugging options
DEBUG=false
TEMPLATE_DEBUG=false

# Hostname for Taiga
TAIGA_HOSTNAME=your-public-hostname
TAIGA_SSL_BY_REVERSE_PROXY=True

# Allow public registration
PUBLIC_REGISTER_ENABLED=true

# Domains allowed to register/login
# Remove this env var or set to empty to allow any registration
ALLOWED_REGISTER_DOMAINS=yourdomain.com,you.com,example.com

##################
# LDAP Settings
##################
LDAP_ENABLED=true

LDAP_USE_SSL=false
LDAP_START_TLS=false

LDAP_HOST=1.2.3.4
LDAP_PORT=389

LDAP_BIND_DN=CN=your,OU=bind,OU=info,DC=domain,DC=com
LDAP_BIND_PW=bindpw
LDAP_SEARCH_BASE=OU=Accounts,DC=domain,DC=com

LDAP_ALLOW_NON_LDAP_LOGIN=true

LDAP_ATTR_USERNAME=sAMAccountName
LDAP_ATTR_EMAIL=mail
LDAP_ATTR_FULLNAME=displayname


##################
# Email Settings
##################
TAIGA_ENABLE_EMAIL=true
TAIGA_EMAIL_FROM=Taiga <noreply@example.com>
TAIGA_EMAIL_NOTIFICATIONS_INTERVAL=0
TAIGA_EMAIL_USE_TLS=false
TAIGA_EMAIL_HOST=smtp@example.com
TAIGA_EMAIL_PORT=25
TAIGA_EMAIL_USER=
TAIGA_EMAIL_PASS=


##################
# DB Connection Info
##################
TAIGA_DB_HOST=postgres
TAIGA_DB_NAME=taigadb
TAIGA_DB_USER=taiga

# Update with random string
TAIGA_DB_PASSWORD=password


##################
# Events / Websockets Backend
##################
TAIGA_EVENTS_ENABLE=true
EVENT_HOST=rabbit
EVENT_USER=taiga
EVENT_PORT=80
EVENT_VHOST=taiga
EVENT_RABBITPORT=5672

# Update with random string
TAIGA_SECRET_KEY=SocsipdoghrervUcAtyoynbimkonBy

# Update with random string
EVENT_PW=deejhodvocnijoshicIachitt

##################
# Async Tasks
##################
TAIGA_ASYNC_ENABLE=false
